.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  align-items: center;
  gap: 50px;
  background-color: #f3f3f3;
  font-size: 2rem;
  font-weight: 600;
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 50px;
  padding-left: 15vw;
  padding-right: 15vw;
  overflow: hidden;
}

@media (max-width: 600px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}