.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  align-items: center;
  gap: 50px;
  background-color: #f3f3f3;
  font-size: 2rem;
  font-weight: 600;
  color: black;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

