.container{
    background-color: #000;
    color: #fff;
    font-size: 1.0rem;
    font-weight: 600;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.logoContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}